extends ../../layouts/default.pug

block main 
    h1(class="mb-4") Phân quyền

    div(class="text-right")
        button(
            type="submit"
            class="btn btn-primary mb-3"
            button-submit
        ) Cập nhật

    table(
        class="table table-hover table-sm"
    )
        thead 
            tr 
                th tih nang 
                th(class="text-center") quanr trij vieen
                th(class="text-center") 
        tbody 
            tr